body {
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 5px;
}

.cor-fundo {
    background-color: gray;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}